<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='my_script.js')}}"></script>
  </head>
  <body>
      <p> There are plenty of Ninjas that can be found here</p>
      <ul>
          <li>Max</li>
          <li>Victor</li>
          <li>Zach</li>
          <li>Mish</li>
          <li>Tejas</li>
          <li>Ashley</li>
          <li>Sam</li>
      </ul>
  </body>
</html>